/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
*, *:after, *:before {
  box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a:visited {
  color: inherti;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: #fff;
  position: absolute;
  z-index: 20;
}

header nav {
  width: 45%;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

.hd-logo {
  font-size: 1.8rem;
  font-weight: bold;
}

.han {
  display: none;
}

#first-v {
  background-image: url(../img/bg1.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

.first-v__wrap {
  width: 250px;
  height: 230px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.catch {
  color: #fff;
  font-size: 27px;
  font-weight: bold;
}

.catch::after {
  display: block;
  width: 9.7rem;
  content: "";
  border-top: 1px solid #fff;
  margin: 20px auto 0;
}

.fv-btn, .entry-btn {
  width: 200px;
  height: 50px;
  background: linear-gradient(to right, #06BEB6, #283C86);
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px black;
}

.btn-icon {
  margin-right: 5px;
}

.news img img {
  width: 100%;
}

#entry {
  height: 477px;
  width: 100%;
  position: relative;
}

.entry-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  align-items: center;
  width: 320px;
  height: 127px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.entry-copy {
  font-weight: bold;
  font-size: 18px;
}

.entry-btn {
  width: 100%;
}

footer {
  color: #fff;
  background-color: black;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  padding: 18px;
}
/*# sourceMappingURL=main.css.map */